<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Mobac Keep your mobile back</h2>
  <span class="c-logo-head">Log In to Mobac</span><br/><br/>
  
  <form class = "edit-login-form" type="POST">
    <div class="input-group">
      <span class="input-group-addon">Username</span>
     	<input name="username" autofocus="" placeholder="username"  autocapitalize="off" type="text" class="form-control">
    </div><br/>
  	<div class="input-group">
      <span class="input-group-addon">Password</span>
  			<input name="password" id="login__password" class="form-control" placeholder="password" autocomplete="off" type="password">
        <input name="project" type="hidden" value="Mobac">
  	</div><br/>
  	<span class="c-login-sep c-submit-sep">
  		<button  class="btn btn-success" id="login" type="submit">Log In</button>                		
  	</span>		
  </form>
</div>