<div class='col-md-2'></div>
<div class='col-md-8'>
  <div class="panel panel-info">
    <div class="panel-body">
      <ul class="media-list">
      <% _.each(Numbers, function(Number) { %>
        <li class="media">
          <div class="media-body">
            <div class="media">
            <% if(Number.type == 'Incoming') {%>
            <img src="imgs/incoming.png" style='width:50px;'>
            <% } else if (Number.type == 'Outgoing') { %>
            <img src="imgs/Outgoing.png" style='width:50px;'>
            <% } else {%>
            <img src="imgs/missed2.png" style='width:50px;'>
            <% } %>
            <a class="btn" href="#/call-details/<%= Number.number %>" style='font-size:24px;'><%= Number.name %></a>
            <span class='pull-right' style='color:green;'><% if(Number.count > 1){ %>(<%= Number.count %>)<% } %></span><br/>
            <span class='pull-right'><%= Number.date %></span>
            </div><hr/>
          </div>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
</div>