<h4>List of CallDetails</h4> <hr />
<br/>
  <table class="display" id='callDetailsTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th> ID</th><th>From/To</th><th>Duration</th><th>Time</th><th>Type</th><th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(CallDetails, function(CallDetails) { %>
        <tr>
          <td><%= CallDetails.id %></td>
          <td><%= CallDetails.secondParty %></td>
          <td><%= CallDetails.callDuration %></td>
          <td><%= CallDetails.time %></td>
          <td><%= CallDetails.type %></td>
          <td><a class="btn" href="#/delete/<%= CallDetails.id %>">Delete</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>