<h4>Details</h4> <hr />
<br/>
  <table class="display" id='phoneDetailsTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th> ID</th><th>Phone</th><th>Duration</th><th>Time</th><th>Type</th><th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(Details, function(Detail) { %>
        <tr>
          <td><%= Detail.id %></td>
          <td><%= Detail.secondParty %></td>
          <td><%= Detail.callDuration %></td>
          <td><%= Detail.time %></td>
          <td><%= Detail.type %></td>
          <td><button type="submit" class="btn btn-danger" value="<%= Detail.id %>" id="delcall">Delete</button></td>
        </tr>
      <% }); %>
    </tbody>
  </table>