<% var modal = [];
  _.each(Numbers, function(Detail) { 
    modal.push(Detail.number);
  });
%>
<span style="font-size:18px;">
  <a href="#/messages">Home </a> > <a href="#/call-details"> Call Details </a> > <%= modal[0] %> 
</span><hr />
<div class='col-md-1'></div>
<div class='col-md-10 col-sm-12'>
  <table class="display" id='phoneDetailsTable' width="100%" cellspacing="0" >
    <thead>
      <tr>
        <th>Details</th><th>Delete</th>
      </tr>
    </thead>  
    <tbody>
      <% _.each(Numbers, function(Detail) { 
         if(Detail.type == 'Incoming') {%>
        <tr style='color:blue;'>
          <td style="text-align:left;padding-left:5%;"><img src="imgs/incoming.png" style='width:50px;'>
        <% } else if (Detail.type == 'Outgoing') { %>
        <tr style='color:green;'>
          <td style="text-align:left;padding-left:5%;"><img src="imgs/Outgoing.png" style='width:50px;'>
        <% } else {%>
        <tr style='color:#FF3903;'>
          <td style="text-align:left;padding-left:5%;"><img src="imgs/missed2.png" style='width:50px;'>
        <% } %>
          <span style='font-size:24px;'><%= Detail.number %></span>
           <span class='pull-right'><%= Detail.time %></span><br/>
           <%= Detail.type %> <span class='pull-right'><%= Detail.callDuration %></span>
          </td>
          <td width="10%"><button type="submit" class="btn delcall" value="<%= Detail.id %>">
            <img src="imgs/delete.png" style="width:25  px;height:30px;" /></button></td>
        </tr>          
      <% }); %>
    </tbody>
  </table>
  </div>