<h4> Call Details</h4> <hr />
<br/>
<div class='col-md-1'></div>
<div class='col-md-10'>
  <table class="display" id='phoneDetailsTable' width="100%" cellspacing="0" >
    <thead>
      <tr>
        <th>Details</th><th>Delete</th>
      </tr>
    </thead>  
    <tbody>
      <% _.each(Details, function(Detail) { 
         if(Detail.type == 'Incoming') {%>
        <tr style='color:blue;'>
          <td style="text-align:left;padding-left:10%;"><img src="imgs/incoming.png" style='height:50px;'>
        <% } else if (Detail.type == 'Outgoing') { %>
        <tr style='color:green;'>
          <td style="text-align:left;padding-left:10%;"><img src="imgs/Outgoing.png" style='height:50px;'>
        <% } else {%>
        <tr style='color:#FF3903;'>
          <td style="text-align:left;padding-left:10%;"><img src="imgs/missed2.png" style='height:50px;'>
        <% } %>
          <span style='font-size:24px;'><%= Detail.name %></span>
           <span class='pull-right'><%= Detail.time %></span><br/>
           <%= Detail.type %> <span class='pull-right'><%= Detail.callDuration %></span>
          </td>
          <td><button type="submit" class="btn btn-danger" value="<%= Detail.id %>" id="delcall">Delete</button></td>
        </tr>          
      <% }); %>
    </tbody>
  </table>
  </div>