<h4>List of Messages</h4> <hr />
<br/>
  <table class="display" id='messagesTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Time</th><th>Phone no.</th><th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(Numbers, function(Number) { %>
        <tr>
          <td><%= Number.name %></td>
          <td><a class="btn" href="#/<%= Number.number %>"><%= Number.number %></a></td>
          <td><%= Number.count %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>